<section class="container">
    <div class="container-main">

        <!--shoes-->
        <section class="container-index">
            <div class="row" id="shoes-panel">
                <h5 class="show">Wash Shoes </h5>
                <div class="col-sm-4">
                    <div class="mb-2">
                        <div class="wrapper">
                            <div class="card">
                                <img src="https://i.imgur.com/9w7gp8u.jpg" class="card-img-top" alt="一般運動鞋" >
                                <div class="card-footer bg-transparent">
                                    <button class="btn btn-normal" data-bs-toggle="modal"
                                        data-bs-target="#normal-modal">一般運動鞋<br>Basic Sneakers</button>
                                </div>
                            </div>
                            <div class="card">
                                <img src="https://i.imgur.com/ou5IXNk.jpg" class="card-img-top" alt="中價位運動鞋"
                                    width="600">
                                <div class="card-footer bg-transparent">
                                    <button class="btn btn-normal" data-bs-toggle="modal"
                                        data-bs-target="#midprice-modal">中價位運動鞋<br>Mid-price Sneakers</button>
                                </div>
                            </div>
                            <div class="card">
                                <img src="https://i.imgur.com/DQHX1kw.jpg" class="card-img-top" alt="高價位運動鞋" width="600"
                                    height="250">
                                <div class="card-footer bg-transparent">
                                    <button class="btn btn-normal" data-bs-toggle="modal"
                                        data-bs-target="#highprice-modal">高價位運動鞋<br>high-price Sneakers</button>
                                </div>
                            </div>
                            <div class="card">
                                <img src="https://i.imgur.com/Ely4gmv.jpg" class="card-img-top" alt="精品鞋款" width="600"
                                    height="250">
                                <div class="card-footer bg-transparent">
                                    <button class="btn btn-normal" data-bs-toggle="modal"
                                        data-bs-target="#luxury-modal">精品鞋款<br>luxury Sneakers</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--new bag--->
        <section class="container-index">
            <div class="row" id="shoes-panel">
                <h5 class="show">Wash Bag</h5>
                <div class="col-sm-4">
                    <div class="mb-2">
                        <div class="wrapper">
                            <div class="card">
                                <img src="https://i.imgur.com/8Eqsrnb.png"  class="card-img-top" alt="運動包/休閒包" width="600">
                                <div class="card-footer bg-transparent">
                                    <button class="btn btn-normal" data-bs-toggle="modal"
                                        data-bs-target="#normal-modal">運動包/休閒包<br>(25*25公分以下)</button>
                                </div>
                            </div>
                            <div class="card">
                                <img src="https://i.imgur.com/ZCQst4l.jpg" class="card-img-top" alt="運動包/休閒包"
                                    width="600">
                                <div class="card-footer bg-transparent">
                                    <button class="btn btn-normal" data-bs-toggle="modal"
                                        data-bs-target="#midprice-modal">運動包/休閒包<br>(25*25公分以上)</button>
                                </div>
                            </div>
                            <div class="card">
                                <img src="https://i.imgur.com/8v78GAL.jpg" class="card-img-top" alt="登山包" width="600"
                                    height="250">
                                <div class="card-footer bg-transparent">
                                    <button class="btn btn-normal" data-bs-toggle="modal"
                                        data-bs-target="#highprice-modal">登山包<br>(可線上分享圖片並報價)</button>
                                </div>
                            </div>
                            <div class="card">
                                <img src="https://i.imgur.com/chDeq9b.png" class="card-img-top" alt="精品包" width="600"
                                    height="250">
                                <div class="card-footer bg-transparent">
                                    <button class="btn btn-normal" data-bs-toggle="modal"
                                        data-bs-target="#luxury-modal">精品包<br>(現場了解材質及包況)</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!---new cap--->
        <section class="container-index">
            <div class="row" id="shoes-panel">
                <h5 class="show">Wash Cap</h5>
                <div class="col-sm-4">
                    <div class="mb-2">
                        <div class="wrapper">
                            <div class="card">
                                <img src="https://i.imgur.com/Jol5jnW.jpg"  class="card-img-top" alt="一般帽款" width="600">
                                <div class="card-footer bg-transparent">
                                    <button class="btn btn-normal" data-bs-toggle="modal"
                                        data-bs-target="#normal-modal">一般帽款</button>
                                </div>
                            </div>
                            <div class="card">
                                <img src="https://i.imgur.com/7G5RlCS.jpg" class="card-img-top" alt="精品帽款"
                                    width="600">
                                <div class="card-footer bg-transparent">
                                    <button class="btn btn-normal" data-bs-toggle="modal"
                                        data-bs-target="#midprice-modal">精品帽款</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
        


<!-- Shoes Modal -->
<!-- 一般運動鞋 -->
<div class="modal fade" id="normal-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="movie-modal-title">一般運動鞋</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="normal-modal-body">
                <ul>
                    <li>合成皮 帆布(單一面料) 金額：250元 </li>
                    <li>漆皮 麂皮 網布(2種以上面料材質) 金額：280元</li>
                    <li>混合材質 真皮(鞋面具有特殊材質如：gore tex防潑水) 金額：300元</li>
                </ul>
            </div>
            <div class="modal-footer">
                <div class="reserve">
                    <input type="button" class="btn btn-secondary" onclick="location.href='https://lin.ee/vMoFtEb';"
                        value="線上預約洗護">
                </div>
                <div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 中價位運動鞋 -->
<div class="modal fade" id="midprice-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mix-modal-title">中價位運動鞋</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="midprice-modal-body">
                <ul>
                    <li>合成皮 帆布(單一面料) 金額：380元 </li>
                    <li>漆皮 麂皮 網布(2種以上面料材質) 金額：400元</li>
                    <li>混合材質 真皮(鞋面具有特殊材質如：gore tex防潑水) 金額：450元</li>
                </ul>
            </div>
            <div class="modal-footer">
                <div class="reserve">
                    <input type="button" class="btn btn-secondary" onclick="location.href='https://lin.ee/vMoFtEb';"
                        value="線上預約洗護">
                </div>
                <div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 高價位運動鞋 -->
<div class="modal fade" id="highprice-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="leater-modal-title">高價位運動鞋</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="highprice-modal-body">
                <ul>
                    <li>合成皮 帆布(單一面料) 金額：700元 </li>
                    <li>漆皮 麂皮 網布(2種以上面料材質) 金額：750元</li>
                    <li>混合材質 真皮(鞋面具有特殊材質如：gore tex防潑水) 金額：800元</li>
                </ul>
            </div>
            <div class="modal-footer">
                <div class="reserve">
                    <input type="button" class="btn btn-secondary" onclick="location.href='https://lin.ee/vMoFtEb';"
                        value="線上預約洗護">
                </div>
                <div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- 精品鞋款 -->
<div class="modal fade" id="luxury-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="leater-modal-title">精品鞋款</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="luxury-modal-body">
                <ul>
                    <li>合成皮 帆布(單一面料) 金額：850元 </li>
                    <li>漆皮 麂皮 網布(2種以上面料材質) 金額：950元</li>
                    <li>混合材質 真皮(鞋面具有特殊材質如：gore tex防潑水) 金額：1000元</li>
                </ul>
            </div>
            <div class="modal-footer">
                <div class="reserve">
                    <input type="button" class="btn btn-secondary" onclick="location.href='https://lin.ee/vMoFtEb';"
                        value="線上預約洗護">
                </div>
                <div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>