<section class="container-n">
    <div class="container-main">
        <section class="af1">
            <div class="row" id="af-panel">
                <h4 class="af">Air Force</h4>
                <div class="col-sm-4">
                    <div class="mb-2">
                        <div class="wrapper-sample">
                            <div class="card card-1">
                                <a href="/sample1" title="blazer">
                                    <img src="https://i.imgur.com/E7E02CP.jpg" class="card-img-top" alt="blazer"
                                        width="600" height="245">
                                </a>
                                <div class="card-footer">
                                    <button class="btn btn-normal" data-bs-toggle="modal" data-bs-target="#blazer-modal"
                                        title="Air Foce">Nike Blazer<br>9成新</button>
                                </div>
                            </div>

                            <div class="card card-2">
                                <a href="/sample2" title="blazer">
                                    <img src="https://i.imgur.com/tjZl1uU.jpg" class="card-img-top" alt="presto"
                                        width="600" height="245">
                                </a>
                                <div class="card-footer">
                                    <button class="btn btn-normal" data-bs-toggle="modal" data-bs-target="#presto-modal"
                                        title="presto">Nike Presto<br>9成新</button>
                                </div>
                            </div>

                            <div class="card card-1">
                                <a href="/sample1" title="blazer">
                                    <img src="https://i.imgur.com/E7E02CP.jpg" class="card-img-top" alt="blazer"
                                        width="600" height="245">
                                </a>
                                <div class="card-footer">
                                    <button class="btn btn-normal" data-bs-toggle="modal" data-bs-target="#blazer-modal"
                                        title="Air Foce">Nike Blazer<br>9成新</button>
                                </div>
                            </div>

                            <div class="card card-2">
                                <a href="/sample2" title="blazer">
                                    <img src="https://i.imgur.com/tjZl1uU.jpg" class="card-img-top" alt="presto"
                                        width="600" height="245">
                                </a>
                                <div class="card-footer">
                                    <button class="btn btn-normal" data-bs-toggle="modal" data-bs-target="#presto-modal"
                                        title="presto">Nike Presto<br>9成新</button>
                                </div>
                            </div>

                            <div class="card card-1">
                                <a href="/sample1" title="blazer">
                                    <img src="https://i.imgur.com/E7E02CP.jpg" class="card-img-top" alt="blazer"
                                        width="600" height="245">
                                </a>
                                <div class="card-footer">
                                    <button class="btn btn-normal" data-bs-toggle="modal" data-bs-target="#blazer-modal"
                                        title="Air Foce">Nike Blazer<br>9成新</button>
                                </div>
                            </div>

                            <div class="card card-2">
                                <a href="/sample2" title="blazer">
                                    <img src="https://i.imgur.com/tjZl1uU.jpg" class="card-img-top" alt="presto"
                                        width="600" height="245">
                                </a>
                                <div class="card-footer">
                                    <button class="btn btn-normal" data-bs-toggle="modal" data-bs-target="#presto-modal"
                                        title="presto">Nike Presto<br>9成新</button>
                                </div>
                            </div>

                            <div class="card card-1">
                                <a href="/sample1" title="blazer">
                                    <img src="https://i.imgur.com/E7E02CP.jpg" class="card-img-top" alt="blazer"
                                        width="600" height="245">
                                </a>
                                <div class="card-footer">
                                    <button class="btn btn-normal" data-bs-toggle="modal" data-bs-target="#blazer-modal"
                                        title="Air Foce">Nike Blazer<br>9成新</button>
                                </div>
                            </div>

                            <div class="card card-2">
                                <a href="/sample2" title="blazer">
                                    <img src="https://i.imgur.com/tjZl1uU.jpg" class="card-img-top" alt="presto"
                                        width="600" height="245">
                                </a>
                                <div class="card-footer">
                                    <button class="btn btn-normal" data-bs-toggle="modal" data-bs-target="#presto-modal"
                                        title="presto">Nike Presto<br>9成新</button>
                                </div>
                            </div>

                            <div class="card card-1">
                                <a href="/sample1" title="blazer">
                                    <img src="https://i.imgur.com/E7E02CP.jpg" class="card-img-top" alt="blazer"
                                        width="600" height="245">
                                </a>
                                <div class="card-footer">
                                    <button class="btn btn-normal" data-bs-toggle="modal" data-bs-target="#blazer-modal"
                                        title="Air Foce">Nike Blazer<br>9成新</button>
                                </div>
                            </div>

                            <div class="card card-2">
                                <a href="/sample2" title="blazer">
                                    <img src="https://i.imgur.com/tjZl1uU.jpg" class="card-img-top" alt="presto"
                                        width="600" height="245">
                                </a>
                                <div class="card-footer">
                                    <button class="btn btn-normal" data-bs-toggle="modal" data-bs-target="#presto-modal"
                                        title="presto">Nike Presto<br>9成新</button>
                                </div>
                            </div>

                            <div class="card card-1">
                                <a href="/sample1" title="blazer">
                                    <img src="https://i.imgur.com/E7E02CP.jpg" class="card-img-top" alt="blazer"
                                        width="600" height="245">
                                </a>
                                <div class="card-footer">
                                    <button class="btn btn-normal" data-bs-toggle="modal" data-bs-target="#blazer-modal"
                                        title="Air Foce">Nike Blazer<br>9成新</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>