<div class="blazzer-title">
    <h3> 「二手商品 US10/28CM」Nike Blazze 黑白色</h3>
</div>
<section class="sample1">
    <div class="swiper mySwiper" style="width:300px; height:300px">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div style="height: 300px; width:300px">
                    <img src="https://i.imgur.com/E7E02CP.jpg" style="height: 100%; width:100%; object-fit:contain;">
                </div>

            </div>
            <div class="swiper-slide">
                <div style="height: 300px; width:300px;">
                    <img src="https://i.imgur.com/1s40c5k.jpg" style="height: 100%; width:100%; object-fit:contain;">
                </div>
            </div>
            <div class="swiper-slide">
                <div style="height: 300px; width:300px"><img src="https://i.imgur.com/p9GSHLZ.jpg"
                        style="height: 100%; width:100%; object-fit:contain;"></div>
            </div>
            <div class="swiper-slide">
                <div style="height: 300px; width:300px"><img src="https://i.imgur.com/EkIhJQ7.jpg"
                        style="height: 100%; width:100%; object-fit:contain;"></div>
            </div>
            <div class="swiper-slide">
                <div style="height: 300px; width:300px"><img src="https://i.imgur.com/tOMk0ET.jpg"
                        style="height: 100%; width:100%; object-fit:contain;"></div>
            </div>
        </div>
        <div class="swiper-btn">
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        </div>
    </div>

    <div class="sample-panel">

        <div class="blazzer-info">
            <h5 class="info">商品描述</h5>
            <p>**二手商品，售出不退不換**
                狀況大約85%~90%成新
                無原盒/現貨在店可來店購買</p>
            <p class="price" style="color: red;">NT 1200</p>
            <input type="checkbox" name="subscribe" value="html-check">尺寸 US10/28CM 二手商品售出不退換
        
        <div class="input">
            <input type="button" value="加入購物車">
            <input type="button" value="立即購買">
        </div>
        </div>
        <div class="discription">
            <h5 class="info">送貨及付款方式</h5>
            <div class="deliver">
            <h4 class="info">送貨方式</h4>
            <ul>
                <li>7-11 全家 取貨付款</li>
                <li>7-11 全家 取貨不付款 （收件人姓名務必與證件相符）</li>
                <li>宅配（台灣本島）</li>
                <li>郵寄（限台灣離島）</li>
                <li>實體門市預約自取 請訂單中備註實體門市取貨日期與時間，實體門市取貨時間超過3日系統將取消訂單）</li>
            </ul>
            </div>
            <div class="pay">
            <h4 class="info">付款方式</h4>
            <ul>
                <li>信用卡（支援國內外 Visa, MasterCard）</li>
                <li>信用卡 3期 6期 分期付款（僅支援台灣部分銀行發行之信用卡）</li>
                <li>中租無卡分期 - 【3期 / 6期】 零利率</li>
                <li>全家超商店到店　 取貨付款</li>
                <li>7-11超商店到店　 取貨付款</li>
                <li>銀行轉帳／ATM</li>
                <li>實體門市預約取貨付款 請訂單中備註實體門市取貨日期與時間，實體門市取貨時間超過3日系統將取消訂單）</li>
            </ul>
            </div>
        </div>
    </div>
</section>