<section class="container-c">
<div class="container-main">
    <!-- 2手鞋 -->
    <!-- nike -->
    <section class="nikeBox">
        <div class="row" id="nike-panel">
            <div class="title">
             <h5 >Second Hand Sells</h5>
             </div>
            <h4 class="show2">Nike</h4>
            <div class="col-sm-4">
                <div class="mb-2">
                    <div class="wrapper-nike">
                        <div class="card">
                            <a href="/force" title="Air Force">
                            <img src="https://i.imgur.com/e7WPHYq.jpg" class="card-img-top" alt="force" width="600"
                                height="245">
                                </a>
                            <div class="card-footer">
                                <button class="btn btn-normal" data-bs-toggle="modal"
                                    data-bs-target="#force-modal" title="Air Foce">Air Force</button>
                            </div>
                        </div>
                        <div class="card">
                            <a href="/nike/max" title="Air Max">
                            <img src="https://i.imgur.com/fSIM9s8.jpg" class="card-img-top" alt="max" width="600"
                                height="250">
                                </a>
                            <div class="card-footer">
                                <button class="btn btn-normal" data-bs-toggle="modal"
                                    data-bs-target="#max-modal" title="Air Max">Air Max</button>
                            </div>
                        </div>
                        <div class="card">
                            <a href="/nike/sacai" title="Sacai">
                            <img src="https://i.imgur.com/LPLIKF8.jpg" class="card-img-top" alt="sacai" width="600"
                                height="250">
                                </a>
                            <div class="card-footer">
                                <button class="btn btn-normal" data-bs-toggle="modal"
                                    data-bs-target="#sacai-modal" title="Sacai">Sacai</button>
                            </div>
                        </div>
                        <div class="card">
                            <a href="/nike/travis" title="Travis Scott">
                            <img src="https://i.imgur.com/H6lP8Wz.jpg" class="card-img-top" alt="travis" width="600"
                                height="250">
                            </a>
                            <div class="card-footer">
                                <button class="btn btn-normal" data-bs-toggle="modal"
                                    data-bs-target="#travis-modal" title="Travis Scott">Travis Scott</button>
                            </div>
                        </div>
                        <div class="card">
                             <a href="/nike/aj" title="Air Jordan">
                            <img src="https://i.imgur.com/xKU0Y0J.jpg" class="card-img-top" alt="aj" width="600"
                                height="245">
                                </a>
                            <div class="card-footer">
                                <button class="btn btn-normal" data-bs-toggle="modal"
                                    data-bs-target="#aj-modal" title="Air Jordan">Air Jordan</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- AD -->
    <section class="adBox">
        <div class="row" id="ad-panel">
            <h4 class="show2">Adidas</h4>
            <div class="col-sm-4">
                <div class="mb-2">
                    <div class="wrapper-ad">
                        <div class="card">
                            <img src="https://i.imgur.com/Dln9v9P.jpg" class="card-img-top" alt="boost" width="600"
                                height="300">
                            <div class="card-footer">
                                <button class="btn btn-normal" data-bs-toggle="modal"
                                    data-bs-target="#force-modal">Boost</button>
                            </div>
                        </div>
                        <div class="card">
                            <img src="https://i.imgur.com/50LSdmq.jpg" class="card-img-top" alt="nmd" width="600"
                                height="250">
                            <div class="card-footer">
                                <button class="btn btn-normal" data-bs-toggle="modal"
                                    data-bs-target="#max-modal">NMD</button>
                            </div>
                        </div>
                        <div class="card">
                            <img src="https://i.imgur.com/lO6EpnS.jpg" class="card-img-top" alt="original" width="600"
                                height="243">
                            <div class="card-footer">
                                <button class="btn btn-normal" data-bs-toggle="modal"
                                    data-bs-target="#sacai-modal">Original</button>
                            </div>
                        </div>
                        <div class="card">
                            <img src="https://i.imgur.com/zPAL6NS.png" class="card-img-top" alt="yeezy" width="600"
                                height="243">
                            <div class="card-footer">
                                <button class="btn btn-normal" data-bs-toggle="modal"
                                    data-bs-target="#travis-modal">Yeezy</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- 潮流精品鞋款 -->
    <section class="fashionBox">
        <div class="row" id="fashion-panel">
            <h4 class="show2">Fashion Sneakers </h4>
            <div class="col-sm-4">
                <div class="mb-2">
                    <div class="wrapper-fashion">
                        <div class="card">
                            <img src="https://i.imgur.com/YP4WtWw.jpg" class="card-img-top" alt="lv" width="600"
                                height="250">
                            <div class="card-footer">
                                <button class="btn btn-normal" data-bs-toggle="modal"
                                    data-bs-target="#force-modal">LV</button>
                            </div>
                        </div>
                        <div class="card">
                            <img src="https://i.imgur.com/Z0IY8zL.jpg" class="card-img-top" alt="dior" width="600"
                                height="250">
                            <div class="card-footer">
                                <button class="btn btn-normal" data-bs-toggle="modal"
                                    data-bs-target="#max-modal">Dior</button>
                            </div>
                        </div>
                        <div class="card">
                            <img src="https://i.imgur.com/kKiGXi0.jpg" class="card-img-top" alt="gucci" width="600"
                                height="250">
                            <div class="card-footer">
                                <button class="btn btn-normal" data-bs-toggle="modal"
                                    data-bs-target="#sacai-modal">Gucci</button>
                            </div>
                        </div>
                        <div class="card">
                            <img src="https://i.imgur.com/rhpeh0U.jpg" class="card-img-top" alt="another" width="600"
                                height="250">
                            <div class="card-footer">
                                <button class="btn btn-normal" data-bs-toggle="modal"
                                    data-bs-target="#travis-modal">Another</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</section>